meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")

meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="#{pageDescription}")
meta(name="author", content="#{metaAuthor}")
meta(name="copyright", content="#{metaCopyright}")


meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="theme-color", content="#{metaThemeColor}")

link(rel="canonical", href="#{siteUrl + pageUrl}")


link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:600,400,300")
link(rel="stylesheet", href="public/css/main.css")
//link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css")



// Facebook: (image: 1200x630)
meta(property="fb:admins", content="814194595")
meta(property="fb:app_id", content="1619012241663368") 
meta(property="fb:profile_id", content="814194595")
meta(property="og:site_name", content="Google Analytics Web Tester")
meta(property="og:title", content="#{pageHeader}")
meta(property="og:type", content="article")
meta(property="og:see_also", content="https://philsawicki.github.io/GoogleAnalytics-WebTester,http://philippesawicki.com")
if typeof pageFacebookImage !== 'undefined'
	meta(property="og:image", content="#{siteUrl + pageFacebookImage}")
meta(property="og:url", content="#{siteUrl + pageUrl}")
if typeof pageTwitterCardDescription !== 'undefined'
	meta(property="og:description", content="#{pageTwitterCardDescription}")
else
	meta(property="og:description", content="#{pageDescription}")
meta(property="article:author", content="https://facebook.com/philippe.sawicki")
meta(property="article:tag", content="google,analytics,validation")


// Twitter: (image: 280x150)
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@fyll_s")
meta(name="twitter:creator", content="@fyll_s")
meta(name="twitter:title", content="#{pageHeader}")
if typeof pageTwitterCardDescription !== 'undefined'
	meta(name="twitter:description", content="#{pageTwitterCardDescription}")
else
	meta(name="twitter:description", content="#{pageDescription}")
if typeof pageTwitterCardImage !== 'undefined'
	meta(name="twitter:image:src", content="#{siteUrl + pageTwitterCardImage}")


// Google+:
meta(itemprop="name", content="#{pageHeader}")
if typeof pageTwitterCardDescription !== 'undefined'
	meta(itemprop="description", content="#{pageTwitterCardDescription}")
else
	meta(itemprop="description", content="#{pageDescription}")
if typeof pageTwitterCardImage !== 'undefined'
	meta(itemprop="image", content="#{siteUrl + pageTwitterCardImage}")
