nav(class="navbar navbar-default navbar-fixed-top")
	div.container
		div.navbar-header
			a(class="navbar-brand", href="index.html") Google Analytics Web Tester
			button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-main", aria-expanded="flase", aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

		div(id="navbar-main", class="navbar-collapse collapse")
			ul(class="nav navbar-nav")
				//li: a(href="/how-does-it-work.html") How does it work?
				//li: a(href="/contact.html") Contact

				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#", id="Project") Project <span class="caret"></span>
					ul(class="dropdown-menu", aria-labelledby="Project")
						if pageName === "How does it work"
							li.active: a(href="how-does-it-work.html") How does it work?
						else
							li: a(href="how-does-it-work.html") How does it work?
						if pageName === "About the Demo Application"
							li.active: a(href="about-the-demo-application.html") About the Demo App
						else
							li: a(href="about-the-demo-application.html") About the Demo App
						li: a#githubSite(href="https://github.com/philsawicki/GoogleAnalytics-WebTester", title="View Google Analytics Website Checker project on Github") View on GitHub
						li: a#downloadZip(href="https://github.com/philsawicki/GoogleAnalytics-WebTester/zipball/master", title="Download Google Analytics Web Tester") Download <span class="Nav-status">Free</span>
						//li: a#downloadTarGz(href="https://github.com/philsawicki/GoogleAnalytics-WebTester/tarball/master", title="Download Google Analytics Web Tester") Download .tar.gz <span class="Nav-status">Free</span>

				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#", id="codeSamples") Code Samples <span class="caret"></span>
					ul(class="dropdown-menu", aria-labelledby="codeSamples")
						- for navItem in [{"name":"Pageviews","link":"examples-pageviews.html"},{"name":"Events","link":"examples-events.html"},{"name":"Custom Metrics","link":"examples-custom-metrics.html"},{"name":"Custom Dimensions","link":"examples-custom-dimensions.html"},{"name":"Enhanced E-Commerce","link":"examples-enhanced-ecommerce.html","status":"New"},{"name":"Content Grouping","link":"examples-content-grouping.html","status":"New"},{"name":"Social Interactions","link":"examples-social-interactions.html"},{"name":"User Timings","link":"examples-user-timings.html"},{"name":"Cross-Device Tracking","link":"examples-cross-device-tracking.html","status":"New"},{"name":"Exception Tracking","link":"examples-exception-tracking.html","status":"New"}]
								if pageName === navItem.name
									li.active: a(href="#{navItem.link}") #{navItem.name}
										if typeof navItem.status !== 'undefined'
											span(class="label label-default", style="margin-left: 7px;") #{navItem.status}
								else
									li: a(href="#{navItem.link}") #{navItem.name}
										if typeof navItem.status !== 'undefined'
											span(class="label label-default", style="margin-left: 7px;") #{navItem.status}

				li.dropdown
					a(class="dropdown-toggle", data-toggle="dropdown", href="#", id="resources") Resources <span class="caret"></span>
					ul(class="dropdown-menu", aria-labelledby="resources")
						li: a(href="index.html#about") About this Site
						li: a(href="index.html#help") Help & Feedback
						if pageName === "Contact"
							li.active: a(href="contact.html") Contact
						else
							li: a(href="contact.html") Contact
